# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
.venv-1/
venv/
env/

# VS Code
.vscode/

# PyInstaller
build/
dist/
*.spec

# Python packaging
*.egg-info/
.eggs/
pip-wheel-metadata/

# Test / Coverage
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini